.Item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  min-height: 60px;
}
.Item-0 {
  padding: 20px 10px 20px 20px;
}
.Item-1 {
  width: 60%;
  padding: 20px 10px;
}
.Item-2 {
  width: 100px;
  padding: 20px 10px;
  text-align: right;
  color: #404040;
}
.Item-3 {
  width: 100px;
  padding: 20px 4px;
  text-align: right;
  color: #404040;
}
.Item-4 {
  width: 120px;
}