.Modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.Modal-content {
    width: 960px;
    height: 407px;
    max-width: 95vw;
    max-height: 100vh;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
}